/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

//@import "./reset.css";
/*
[vp-content] {
    h1, h2, h3, h4, h5, h6 {
        all: unset;
    }
    * {
        all: unset;
    }    
}
    .vp-page [vp-content] {
    max-width: var(--content-width);
    margin: 0 auto;
    padding: 2rem 2.5rem;
}


*/


// Override the default content width
:root {
    --content-width: 1200px;
}

// Reset any whacky styles on the whole vp-content element
[vp-content] h1:first-child + p, [vp-content] h1:first-child + pre, [vp-content] h1:first-child + .custom-container, [vp-content] h2:first-child + p, [vp-content] h2:first-child + pre, [vp-content] h2:first-child + .custom-container, [vp-content] h3:first-child + p, [vp-content] h3:first-child + pre, [vp-content] h3:first-child + .custom-container, [vp-content] h4:first-child + p, [vp-content] h4:first-child + pre, [vp-content] h4:first-child + .custom-container, [vp-content] h5:first-child + p, [vp-content] h5:first-child + pre, [vp-content] h5:first-child + .custom-container, [vp-content] h6:first-child + p, [vp-content] h6:first-child + pre, [vp-content] h6:first-child + .custom-container {
    margin-top: inherit;
}
 

//https://cdnjs.com/libraries/uswds
@import "https://cdnjs.cloudflare.com/ajax/libs/uswds/3.12.0/css/uswds.min.css";
//@import "./uswds.min.css";
@import "../../../src/styles/uswds-vue.scss";
//@import url("../../../src//styles/uswds-3.11.0/scss/stylesheets/uswds.scss");
//@forward "../../../src/styles/uswds-3.11.0/scss/stylesheets/uswds.scss";



// Deal with clashes between vuepress and uswds

html[data-theme="dark"] {
    body {
        background: none;
        color: white;
    }
}
/*
.usx-component {
    h1, h2 {
        border: none;
    }    
}



a.sidebar-link.active,  a.sidebar-link:active {
    outline: none !important;
}

a.sidebar-link.active  {
    font-weight: 600 !important;
    color: #3eaf7c !important;
    border-left-color: #3eaf7c !important;
}  

div.theme-default-content:not(.custom), .page-edit, .page-nav {
    max-width: 1200px !important;
}

.home .hero img {
    max-width: 450px !important;
}

*/
